<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Medinova - Health & Medical HTML Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Medinova - Health & Medical HTML Template</title>

    <!-- Favicon and Touch Icons -->
    <link href="~/Public/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/Public/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Public/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Public/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Public/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Public/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Public/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Public/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/Public/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/Public/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/Public/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/Public/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/Public/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- CSS | Theme Color -->
    <link href="~/Public/css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="~/Public/js/jquery-2.2.0.min.js"></script>
    <script src="~/Public/js/jquery-ui.min.js"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/Public/js/jquery-plugin-collection.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    <div id="wrapper">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <img src="~/Public/images/preloaders/1.gif" alt="">
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>
        <!-- Start main-content -->
        <div class="main-content">
            <!-- Section: inner-header -->
            <section class="inner-header divider layer-overlay overlay-deep" data-bg-img="http://placehold.it/1920x1280">
                <div class="container pt-90 pb-50">
                    <!-- Section Content -->
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-12 xs-text-center">
                                <h3 class="font-28">
                                    Məqalələr</h2>
                                    <ol class="breadcrumb white mt-10">
                                        <li><a href="#">Ana səhifə</a></li>
                                        
                                        @*<li class="active text-theme-colored">Blog</li>*@
                                    </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Section: Blog -->
            <section>
                <div class="container mt-30 mb-30 pt-30 pb-30">
                    <div class="row blog-posts">
                        <div class="col-md-9">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <article class="post style1 clearfix maxwidth500">
                                    <div class="col-md-12 p-0">
                                        <div class="entry-header">
                                            <div class="post-thumb">
                                                <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                                            </div>
                                            <div class="entry-date entry-date-absolute">
                                                25 <span>Dec</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-0">
                                        <div class="entry-content pl-50 p-20 pt-30 pr-20">
                                            <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                                            <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                            <div class="entry-meta pull-left flip mt-10">
                                                <ul class="list-inline">
                                                    <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                                                    <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                                                </ul>
                                            </div>
                                            <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <article class="post style1 clearfix maxwidth500">
                                    <div class="col-md-12 p-0">
                                        <div class="entry-header">
                                            <div class="post-thumb">
                                                <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                                            </div>
                                            <div class="entry-date entry-date-absolute">
                                                25 <span>Dec</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-0">
                                        <div class="entry-content pl-50 p-20 pt-30 pr-20">
                                            <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                                            <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                            <div class="entry-meta pull-left flip mt-10">
                                                <ul class="list-inline">
                                                    <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                                                    <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                                                </ul>
                                            </div>
                                            <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <article class="post style1 clearfix maxwidth500">
                                    <div class="col-md-12 p-0">
                                        <div class="entry-header">
                                            <div class="post-thumb">
                                                <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                                            </div>
                                            <div class="entry-date entry-date-absolute">
                                                25 <span>Dec</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-0">
                                        <div class="entry-content pl-50 p-20 pt-30 pr-20">
                                            <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                                            <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                            <div class="entry-meta pull-left flip mt-10">
                                                <ul class="list-inline">
                                                    <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                                                    <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                                                </ul>
                                            </div>
                                            <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <article class="post style1 clearfix maxwidth500">
                                    <div class="col-md-12 p-0">
                                        <div class="entry-header">
                                            <div class="post-thumb">
                                                <img src="http://placehold.it/360x200" alt="" class="img-responsive img-fullwidth">
                                            </div>
                                            <div class="entry-date entry-date-absolute">
                                                25 <span>Dec</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-0">
                                        <div class="entry-content pl-50 p-20 pt-30 pr-20">
                                            <h5 class="entry-title pt-0"><a href="#">Different types of stroke</a></h5>
                                            <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                            <div class="entry-meta pull-left flip mt-10">
                                                <ul class="list-inline">
                                                    <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                                                    <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                                                </ul>
                                            </div>
                                            <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="sidebar sidebar-right mt-sm-30">
                                <div class="widget">
                                    <h5 class="widget-title line-bottom">Categories</h5>
                                    <div class="categories">
                                        <ul class="list list-border angle-double-right">
                                            <li><a href="#">Creative<span>(19)</span></a></li>
                                            <li><a href="#">Portfolio<span>(21)</span></a></li>
                                            <li><a href="#">Fitness<span>(15)</span></a></li>
                                            <li><a href="#">Gym<span>(35)</span></a></li>
                                            <li><a href="#">Personal<span>(16)</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                @*<div class="widget">
                                    <h5 class="widget-title line-bottom">Latest News</h5>
                                    <div class="latest-posts">
                                        <article class="post media-post clearfix pb-0 mb-10">
                                            <a class="post-thumb" href="#"><img src="https://placehold.it/75x75" alt=""></a>
                                            <div class="post-right">
                                                <h5 class="post-title mt-0"><a href="#">Sustainable Construction</a></h5>
                                                <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                            </div>
                                        </article>
                                        <article class="post media-post clearfix pb-0 mb-10">
                                            <a class="post-thumb" href="#"><img src="https://placehold.it/75x75" alt=""></a>
                                            <div class="post-right">
                                                <h5 class="post-title mt-0"><a href="#">Industrial Coatings</a></h5>
                                                <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                            </div>
                                        </article>
                                        <article class="post media-post clearfix pb-0 mb-10">
                                            <a class="post-thumb" href="#"><img src="https://placehold.it/75x75" alt=""></a>
                                            <div class="post-right">
                                                <h5 class="post-title mt-0"><a href="#">Storefront Installations</a></h5>
                                                <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                                            </div>
                                        </article>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <nav>
                                <ul class="pagination theme-colored xs-pull-center m-0">
                                    <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">...</a></li>
                                    <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- end main-content -->
        <!-- Footer -->
        <footer id="footer" class="footer pb-0" data-bg-img="Public/images/footer-bg.png" data-bg-color="#25272e">
            <div class="container pb-20">
                <div class="row multi-row-clearfix">
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <img alt="" src="~/Public/images/logo-wide-white.png">
                            <p class="font-12 mt-20 mb-10">Medinova is a library of Crowdfunding and Medinova templates with predefined elements which helps you to build your own site. Lorem ipsum dolor sit amet consectetur.</p>
                            <ul class="social-icons icon-dark mt-20">
                                <li><a href="#" data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-bg-color="#05A7E3"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" data-bg-color="#A11312"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" data-bg-color="#C22E2A"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <h5 class="widget-title line-bottom">Latest News</h5>
                            <div class="latest-posts">
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                                    <div class="post-right">
                                        <h5 class="post-title mt-0 mb-5"><a href="#">Sustainable Construction</a></h5>
                                        <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                                    <div class="post-right">
                                        <h5 class="post-title mt-0 mb-5"><a href="#">Industrial Coatings</a></h5>
                                        <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                                    <div class="post-right">
                                        <h5 class="post-title mt-0 mb-5"><a href="#">Storefront Installations</a></h5>
                                        <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <h5 class="widget-title line-bottom">Quick Contact</h5>
                            <ul class="list list-border">
                                <li><a href="#">+(012) 345 6789</a></li>
                                <li><a href="#">hello@yourdomain.com</a></li>
                                <li><a href="#" class="lineheight-20">121 King Street, Melbourne Victoria 3000, Australia</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-theme-colored p-20">
                <div class="row text-center">
                    <div class="col-md-12">
                        <p class="text-white font-11 m-0">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->
    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="~/Public/js/custom.js"></script>

</body>
</html>