@model IEnumerable<PsychologyCenter.Models.GaleryCategory>

@{
    ViewBag.Title = "Şəkil kategoriyaları";
}

<p>
    @Html.ActionLink("Əlavə et", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Kategoriya
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a class="mr-2" href="@Url.Action("edit", new { id=item.Id })">
                <i class="fas fa-edit"></i>
            </a>
            <a class="text-danger" href="@Url.Action("delete", new { id=item.Id })">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
