@model PsychologyCenter.Models.Service

@{
    ViewBag.Title = "Delete";
}

<h3>Silmək istəyirsinizmi?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Geriyə qayıt", "Index")
        </div>
    }
</div>
